body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

header{
background:#020617;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.hero{
padding:100px 20px;
}

.mainbtn{
padding:12px 25px;
background:#38bdf8;
border:none;
border-radius:8px;
cursor:pointer;
}

.features{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
margin-top:40px;
}

.card{
background:#1e293b;
padding:25px;
width:260px;
border-radius:10px;
}

button{
padding:10px 20px;
border:none;
border-radius:6px;
background:#38bdf8;
cursor:pointer;
}

.loginbox{
background:#1e293b;
width:300px;
padding:40px;
margin:120px auto;
border-radius:10px;
}

input{
width:90%;
padding:10px;
margin:10px;
border:none;
border-radius:6px;
}

audio{
width:150px;
margin-top:10px;
}
